body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.contenedor-imagen {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 440px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    margin: 0 auto;
}

.contenedor-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(21, 2, 75); /* Color azul */
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
}

h2 {
    font-family: Arial, Helvetica, sans-serif ;
    color: rgb(21, 2, 75); /* Color azul */
    text-align: center;
}

.principal{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    width: 100%;
    max-width: 700px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    color: #333;
}

.principal p {
    margin-bottom: 15px;
}

.principal h3{
    text-align: center;
}

.principal p:last-child {
    margin-bottom: 0;
}

ol li{
    font-weight: bold;
}
    
.audio-contenedor {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.audio-contenedor h4 {
    margin-bottom: 10px;
    color: #333;
}

.audio-contenedor audio {
    width: 200px;
    outline: none;
}

#final{
    text-align: center;
}

.lista-enlaces {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
}

.lista-enlaces li {
    margin: 10px 0;
}

.lista-enlaces a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.lista-enlaces a:hover {
    color: #bdb10e; /* Cambia de color al pasar el mouse */
}

h1:hover{
    color: #e2d40e;
}

h2:hover{
    color:#e2d40e
}

.cancion p{
    text-align: center;
}

.tituloCancion{
    text-align: center;
}
/*
.contenedor-imagen:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.contenedor-imagen:hover .overlay {
    opacity: 1;
}*/

